---
# Playbook to install the latest NoMachine package from a fixed URL
- name: Install NoMachine
  hosts: '{{ target | default(''cagelab'') }}'
  become: true
  gather_facts: true
  gather_timeout: 10
  ignore_unreachable: false

  vars:
    nomachine_deb_path: /tmp/nomachine_9.3.7_1_amd64.deb
    nomachine_download_url: https://web9001.nomachine.com/download/9.3/Linux/nomachine_9.3.7_1_amd64.deb
    nomachine_package_name: nomachine
    nomachine_service_name: nxserver

  tasks:

    - name: Download NoMachine installer package
      ansible.builtin.get_url:
        url: '{{ nomachine_download_url }}'
        dest: '{{ nomachine_deb_path }}'
        mode: '0644'
        force: true
        timeout: 30

    - name: Remove existing NoMachine package
      ansible.builtin.apt:
        name: '{{ nomachine_package_name }}'
        state: absent
        purge: true

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install NoMachine package
      ansible.builtin.apt:
        deb: '{{ nomachine_deb_path }}'
        state: present

    - name: Ensure NoMachine service is started
      ansible.builtin.service:
        name: '{{ nomachine_service_name }}'
        state: started
        enabled: true
